* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    width: 100%;
    background-color: #afc1d0;
}

.colored {
    background-color: #fff;
}

#error {
    background-color: #ea4545;
    position: absolute;
    bottom: 50px;
    right: 25px;
    width: 200px;
    height: 100px;
    animation: hide 10s forwards;
    padding: 8px;
    border-radius: 10px;
}

#error_separator {
    border-color: #d90000;
}

.spaced {
    line-height: 2.5;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0 5px;
}

.spacing_between {
    display: flex;
    justify-content: center;
    align-items: center;
}

.floater {
    float: left;
}

.card {
    height: 80px;
    width: 21%;
    background-color: #8656e6;
    margin: 2%;
    border-radius: 10px;
    padding: 8px;
}

.inside_space {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #0f23a5;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

#logo {
    max-height: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

.button_link {
    margin: 5px;
    padding: 5px;
    background-color: #afc1d0;
    border-radius: 5px;
    line-height: 1.5;
}

.textinput {
    width: 75%;
    padding: 4px;
} 

.separateditems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 6px;
}

.timefield {
    padding: 4px; 
}

.submit {  
    background-color: #07b324;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.searchbar {
    width: 90%;
    padding: 8px;
}

.searchbar_button {
    width: 10%;
    padding: 8px;
    float: right;
}

.align_left {
    text-align: left;
}

.option_block {
    padding: 8px;
    background-color: #e7e7e7;
    flex-grow: 1;
    margin-bottom: 8px;
    border-radius: 0 0 8px 8px;
}

#options_container {
    display: flex;
}

#list_container {
    margin: 0 1%;
    overflow-y: scroll;
    height: 250px;
    width: 98%;
    padding: 8px;
    border-radius: 8px;
    background-color: white;
}

#center {
    background-color: #5e17eb;
    min-height: 70%;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 800px;
    padding: 14px;
    border-radius: 10px 10px 0 0;
}

footer {
    background-color: #0f23a5;
    height: 7%;
}

table, th, td {
  border: 1px solid #000;
  background-color: #fff;
}

table, tr {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 2px 4px;
}

@keyframes hide {
    0% {z-index: 2;}
    100% {z-index: -1;}
}